.blogInner img{
    border-radius: 20px;
    width: 100%;
}
.blogPost{
    width: 60%;
    margin: auto;
    margin-top: 50px;
    min-height: 1400px;
    max-height: 2000px;
}
.blogMember{
    display: flex;
    width:60% ;
    justify-content: space-between;
    height: 32px;
    align-items: center;
}
.blogMember img{
    width: 32px;
    height: 32px;
}
.blogMember div{
    display: flex;
    width: 38%;
    justify-content: space-between;
    align-items: center;
}
h2{
    font-size: 4rem;
    margin: 0;
}
h3{
    font-size: 3rem;
    margin: 0;
}