.firstSection{
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstSection .left{
    width: 46%;
}
.firstSection h2{
    font-size: 4rem;
    margin: 0;
}
.firstSection p{
    width: 90%; 
    font-size: 18px;
}
.firstSection .right{
    background-image: url(/images/careers.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 650px;
    border-radius: 20px;
}
.firstSection .right div{
    width: 28%;
    height: 650px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}
.firstSection .button{
    width: 25%;
    height: 54px;
    color: white;
    background-color: #F58A07;
    border-radius: 27px;
    padding: 15px 0 0 20px;
}
/* ---------------------------------style of section 2 start here---------- */
.careerSection {
    height: 600px;
}
.careerSection h3{
    font-size: 3rem;
}
.careers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.careers div{
    width: 32%;
    height: 181px;
    background-color: #C1E4FF4D;
    line-height: 30px;
    margin: 20px 0 0 0;
    border-radius: 20px;
    padding: 30px
}
.careers div:nth-child(6){
    background-color: white;
}
.careers h3{
    font-size: 1.5rem;
    margin: 0;
}
.careers p{
    font-size: 18px;
}
.careers a{
    color: #F58A07;
    font-size: 18px;
}