.contactSection h2{
    font-size:3rem;
}
.contactSection p{
    font-size: 18px;
    height: 70px;
}
.contactSection h3{
    font-size: 24px;
    font-weight: 500;
}
.contactSection .left h2{
    width: 560px;
}
.contactSection .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 350px;
}
.contactSection{
    height: 900px;
}
.contactSection .title{
   width: 45%;
}
.location{
    width: 22%;
}
.contact{
    width:20%
}
.contactSection .bottom{
    display: flex;
    justify-content: space-between;
}
.leftInput{
    display: flex;
    flex-wrap: wrap;
}
input{
    width: 95%;
    height: 54px;
    background-color: #D2DAED2B;
    border-radius: 27px;
    color: #9C9C9C;
    border: 0;
    padding: 30px;

}
input:nth-child(4){
    height: 160px;
    padding: 30px 0 150px 30px;
}
.contactButton{
    width: 119px;
    height: 54px;
    background-color: #F58A07;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactButton a{
    color: white;
}
.contactLoc{
    display: flex;
    justify-content: space-between;
    height: 250px;
}
.contactLoc div{
    width: 270px;
}
.contactImg{
    height: 450px;
}
img{
    border-radius: 20px;
} 
 iframe{
    width: 620px;
    height: 370px;
    border-radius: 20px;
 }