
section:nth-child(2),
section:nth-child(4),
section:nth-child(9){
    background-color:#DCEAF5 ;
}
li{
    list-style: none; 
}
/*------------------------------- The style of first section  start here-----------------------------------------------*/
.firstSection{
    display: flex;
    justify-content: space-between;
    height: 703px;
}
.firstSection .left h2{
    font-size: 4rem;
    color: #1D3444;
    line-height: 72px;
    margin-bottom: 0;
}
.firstSection .left{
    width: 50%;
}
.firstSection p{
    font-size: 18px;
    width: 80%; 
}
.firstSection .button{
    width: 60%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.firstSection .leftButton{
    background-color:#F58A07 ;
    border-radius: 27px;
    width: 50%;
    height: 54px;
    padding: 15px 0 0 30px;
}
.firstSection a{
    color: white;
}
.firstSection .rightButton{
    height: 54px;
    padding: 15px 0 0 20px;
}
.firstSection .rightButton a{
    color: #1D3444;
}
.firstSection text{
    color: #39414980;
    font-size: 18px;
}
.firstSection .logo{
    display: flex;
    justify-content: space-between;
}
.firstSection .right{
    width: 50%;
}
.firstSection .right img{
    height: 703px;
}
/* -----------------------------Style of help section  start here  ---------------------------------------------------*/
.helpSection{
    height: 840px;
}
.helpSection .tittle{
    width: 60%;
    height: 300px;
}
.helpSection .tittle h2{
    font-size:3rem;
}
.helpSection .tittle p{
    font-size: 18px;
}
 .helpSection .post{
    display: flex;
    justify-content: space-between;
}
.helpSection  article{
    width: 32%;
    height: 447px;
}
.helpSection .post  h3{
    font-size: 1.5rem;
}
.helpSection   img{
    border-radius: 20px;
    height: 242px;
    width: 100%;
}
.helpSection .arrow{
    color: #F58A07;
}
.helpSection .arrow::after{
    content: "\2192";
    font-size: large;
    margin: 30px 0 0 10px;
}
/* ---------------------------------Style of features section  start here----------------------------------------*/
.featuresSection{
    height: 665px;
}
.featuresSection .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:300px;
}
.featuresSection .top h3{
    font-size: 2.25rem;
    width: 50%;
    height: 132px;
}
.featuresSection .top p{
    font-size: 18px;
    width: 45%;
    height: 102px;
    color: #1D3444;
}
.featuresSection .bottom{
    display: flex;
    justify-content: space-between;
}
.features{
    width: 32%;
    height: 277px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}
.features h3{
    font-size: 1.5rem;
}
/* ------------------------------------Style of about section start here ------------------------- */
.aboutSection{
    height: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutSection .left{
    width: 48%;
    height: 667px;
}
.aboutTittle{
    font-size: 3rem;
}
.about-p{
    font-size: 18px;
}
.aboutFeature{
    display: flex;
    justify-content: space-between;
}
.aboutFeature p:first-child{
    font-size: 2.25rem;
    color: #F58A07;
    font-weight: 600;
}
.aboutFeature h3{
    font-size: 1.5rem;
}
.aboutFeature div{
    width: 45%;
    height: 192px;
}
.aboutSection .right{
    background: url(/images/about-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 671px;
    border-radius: 20px;
}
.aboutSection .right div{
    width: 25%;
    height: 671px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}
/* --------------------------------------Style of service section start here -------------------- */
.serviceSection {
    background-color: #DCEAF5;
    border-radius: 20px;
    height: 682px;
    padding: 40px;
    position: relative;
}
.service {
    height: 800px;
}
.ribbon{
    position: absolute;
    right: -15px;
    top: -15px;
}
.serviceTab{
    display: flex;
    width: 50%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.serviceTab div{
    border-radius: 31px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serviceTab div:first-child{
    color: #F58A07;
    background-color: white;
    width: 35%;
}
.serviceTab div:nth-child(2){
   width: 25%;
   border: solid 1px #A8BCCC;
   color: #0632554D;
}
.serviceTab div:nth-child(3){
    width: 30%;
    border: solid 1px #A8BCCC ;
    color: #0632554D;
}
.serviceMain{
    display: flex;
    justify-content: space-between;
}
.serviceSection .left h3{
    font-size: 3rem;
    margin: 0;
}
.serviceSection .left p{
    font-size: 18px;
}
.serviceSection .left a{
    color: #F58A07;
}
.serviceSection .left a::after{
    content: "\2192";
    font-size: large;
    margin: 20px 0 0 10px;
}
.serviceSection .left{
    width: 50%;
    height: 466px; 
}
.serviceSection .right{
    background-image: url(/images/team.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    height: 466px;
}
.serviceSection .right div{
    width: 25%;
    height: 466px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}
/* -----------------------------------------Style of  exper section  start here--------------------- */
.experSection{
    height:518px ;
    display: flex;
}
.experSection .left{
    background-image: url(/images/experience-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.experSection .right{
    width: 50%;
    background-color: #F58A07;
    padding: 50px 130px;
}
.experSection .right h3{
    font-size: 3rem;
    color: white;
    width: 70%;
}
.experSection .right div{
    background-color: white;
    width: 25%;
    height: 54px;
    padding: 15px 0 0 30px;
    border-radius: 31px;
}
.experSection .right a{
    color: #F58A07;
}



