.videoSection {
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.videoSection .left{
    width: 45%;
}
.videoSection .left h3{
    font-size: 3rem;
}
.videoP{
    font-size: 18px;
}
.videoPerson{
    display: flex;
    width: 45%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.videoPerson .name{
    font-size:1.5rem;
    font-weight: 500;
    color: #063255;
    margin: 0;
}
.videoPerson .pos{
    font-size: 18px;
    font-weight: 500;
    color: #F58A07;
    margin: 0;
}
.videoSection .right{
    background-image: url(/images/video-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 501px;
    display: flex;
    align-items: flex-end;
    border-radius: 20px;
}
.videoCircle{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
.circle{
    width: 51px;
    height: 51px;
    background-color: white;
    border-radius: 50%;
    padding: 15px 0 0 20px;
}
.videoCircle a{
    color: white;
}