img{
    border-radius: 20px;
}
.blogPost{
    width: 780px;
    margin: auto;
    margin-top: 50px;
    height: 1400px;
}
.blogMember{
    display: flex;
    width:420px ;
    justify-content: space-between;
    height: 32px;
    align-items: center;
}
.blogMember img{
    width: 32px;
    height: 32px;
}
.blogMember div{
    display: flex;
    width: 170px;
    justify-content: space-between;
    align-items: center;
}
h2{
    font-size: 64px;
    margin: 0;
}
h3{
    font-size: 48px;
    margin: 0;
}