/* ----------------------------style of section 1 start here ------------------------- */
.firstSection{
    height: 749px;
    background-color: #DCEAF5;
}
.blogSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 749px;
}
.blogMember{
    display: flex;
    width:420px ;
    justify-content: space-between;
    height: 32px;
    align-items: center;
}
.blogMember img{
    width: 32px;
    height: 32px;
}
.blogMember div{
    display: flex;
    width: 170px;
    justify-content: space-between;
    align-items: center;
}
.blogSection-left h2{
    font-size: 64px;
    margin: 0;
}
.blogSection-left{
    width: 559px;
}
.blogSection-left a{
    color: #F58A07;
}
.blogSection-left a::after{
    content:"\2192";
    font-size: x-large;
}
.blogSection-right img{
    border-radius: 20px;
}
/* --------------------------style of section 2 start here--------------------------------  */
.latestSection{
    height: 1400px;
}
.latestTittle{
    font-size: 48px;
    height: 150px;
    display: flex;
    align-items: end;
}
.latestSection-post{
    display: flex;
    justify-content: space-between;
    margin-top:50px ;
    flex-wrap: wrap;
}
.latestSection-post article{
    width: 400px;
    height: 507px;
    background-color:#EDF7FF;
    border-radius:20px;
    margin-bottom: 50px;
}
.latestSection-post  h3{
    font-size: 24px;
    color: #0D1317;
}
.latestSection-post  img{
    border-radius:20px 20px 0 0;
    height: 230px;
    width: 400px;
}
.latestPost-content{
    width: 400px;
    height: 260px;
    padding: 0 20px;
}
.latestArrow{
    color: #F58A07;
}
.latestArrow::after{
    content: "\2192";
    font-size: x-large;
}