.headerSection{
    height: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerSection-left{
    width: 618px;
}
.headerSection h2{
    font-size: 64px;
    margin: 0;
}
.headerSection p{
    width: 510px; 
    font-size: 18px;
}
.headerSection-right{
    background-image: url(images/careers.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 616px;
    height: 650px;
}
.headerSection-right div{
    width: 180px;
    height: 650px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}
.headerSection-button{
    width: 171px;
    height: 54px;
    color: white;
    background-color: #F58A07;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------------------------------style of section 2 start here---------- */
.carreerSection {
    height: 600px;
}
.carreerSection h3{
    font-size: 48px;
}
.carreers{
    display: flex;
    flex-wrap: wrap;
}
.carreers div{
    width: 400px;
    height: 181px;
    background-color: #C1E4FF4D;
    line-height: 30px;
    margin: 20px 20px 0 0;
    border-radius: 20px;
    padding: 30px
}
.carreers h3{
    font-size: 24px;
    margin: 0;
}
.carreers p{
    font-size: 18px;
}
.carreers a{
    color: #F58A07;
    font-size: 18px;
}