.navbar{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.navbar h1{
    color: #063255;
}
.rightBar{
    display: flex;
    width: 630px;
    justify-content: space-between;
}
.navItems{
    width: 437px;
    display: flex;
    justify-content: space-around;  
}
.navItems a{
    color: #394149;
}
.navButton{
    background-color:rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
}
.navButton a{
    color: #F58A07;
}
 header li{
    list-style: none; 
}