
section:nth-child(2),
section:nth-child(4),
section:nth-child(9){
    background-color:#DCEAF5 ;
}
section{
    margin: 100px 0 100px 0;
}
/*------------------------------- The style of section 1 start here-----------------------------------------------*/
.headerSection{
    height: 703px;
     display: flex;
}
.text h2{
    font-size: 60px;
    color: #1D3444;
}
.textdiv {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.textdiv div:first-child{
    background-color:#F58A07 ;
    border-radius: 27px;
    color: white;
    width: 199px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pdiv{
    color: #39414980;
}
.section-1logo{
    display: flex;
    justify-content: space-between;
}
/* -----------------------------Section 2 start here  ---------------------------------------------------*/
.helpsection{
    height: 833px;
}
.helptext{
    width: 735px;  
}
.helptext h2{
    font-size: 48px;
    color: #1D3444;
}
.helptext p{
    font-size: 18px;
    color: #5B5B5B;
}
.helppost{
    display: flex;
    justify-content: space-between;
}
.helppost article{
    width: 400px;
    height: 447px;
}
.helppost article h3{
    font-size: 24px;
    color: #0D1317;
}
.helppost article p{
    color: #1D3444;
}
.helppost article img{
    border-radius: 20px;
    height: 242px;
}
.helppost article a{
    color: #F58A07;
    text-decoration: none;
}
.helppost article a::after{
    content: \2192;
    /* -----------------------------------!!!! */
}
/* -----------------------The style of section 3 start here----------------------------------------*/
.featuressection{
    height: 665px;
}
.topdiv{
    display: flex;
    align-items: center;

}
.topdiv h2{
    font-size: 36px;
    color: #0D1317;
}
.topdiv p{
    font-size: 18px;
    color: #1D3444;
    height: 102px;
}
.bottomdiv{
    display: flex;
    justify-content: space-between;
}
.features{
    width: 401px;
    height: 277px;
    background-color: white;
    padding: 40px;
}
.features h3{
    font-size: 24px;
    color: #0D1317;
}
.features p{
    color: #5B5B5B;
}
/* --------------------Section 4 start here ------------------------- */
.aboutsection{
    height: 667px;
}
.aboutdiv{
    display: flex;
    justify-content: space-between;
}
.aboutdiv img{
    width: 638px;
    height: 671px;
    border-radius: 10px;
}
.abouttext{
    width: 596px;
}
.abouth{
    font-size: 48px;
    color:#0D1317;
}
.aboutp{
    font-size: 18px;
    color:#5B5B5B;
}
.aboutfeature{
    display: flex;
    justify-content: space-between;
}
.aboutfeature p:first-child{
    font-size: 36px;
    color: #F58A07;
}
.aboutfeature h3{
    font-size: 24px;
    color: #0D1317;
}
.aboutfeature div{
    width: 264px;
}
/* --------------------The style of section 5 start here -------------------- */
.servicesection{
    height: 698px;
}
.servicesection .container{
    background-color: #DCEAF5;
    border-radius: 20px;
    height: 682px;
}
.servicetop{
    display: flex;
    width: 750px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    
                                            /* end amargin!!!!!!
                                            section-iin hoorondoh zai,
                                            zurag deerh shar ,
                                            end zureg texttei zeregtsehgui baigaa!!!! */
}
.servicetop div{
    border-radius: 31px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicetop div:nth-child(2){
   width: 155px;
   border: solid 1px #A8BCCC;
   color: #0632554D;
}
.servicetop div:nth-child(3){
    width: 183px;
    border: solid 1px #A8BCCC ;
    color: #0632554D;
}
.servicetop div:first-child{
    color: #F58A07;
    background-color: white;
    width: 194px;
}
.servicebottom{
    display: flex;
    justify-content: space-around;
}
.servicebottom div:first-child{
    width: 572px;
    height: 466px;
}
.servicebottom h3{
    font-size: 48px;
}
.servicebottom p{
    font-size: 18px;
}
.servicebottom img{
    width: 472px;
    height: 466px;
}
.servicebottom a{
    text-decoration: none;
    color: #F58A07;
}
/* --------------------------The style of section 6 start here--------------------- */
.stasection{
    height:518px ;
}
.stadiv{
    display: flex;
}
.staleft{
   background-image: url(images/experience-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 518px;
}
.staright{
    height: 518px;
    width: 50%;
    background-color: #F58A07;
    padding: 100px;
}
.staright h3{
    font-size: 48px;
    color: white;
    width: 532px;
}
.staright div{
    background-color: white;
    width: 216px;
    height: 54px;
    color: #F58A07;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 31px;
}
/* -----------------------------The style of section 7 start here------------ */
.videosection {
    height: 501px;
}
.videodiv{
    display: flex;
    justify-content: space-between;
}
.videoleft{
    width: 550px;
}
.videoleft h3{
    font-size: 48px;
}
.videoleft p{
    font-size: 18px;
    color: #5B5B5B;
}
.videolbottom{
    display: flex;
    width: 249px;
    justify-content: space-between;
}
.videolbottom img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.videolbottom p:first-child{
    font-size:24px ;
    color: #063255;
}
.videolbottom p:nth-child(2){
    font-size: 18px;
    color: #F58A07;
}
/* ----------------------------The style of section 8 start here  -------------------- */
.latestsection{
    height: 819px;
}
.latesth{
    font-size: 48px;
}
/* -----------------------------The style of footer start here-------------------- */
footer{
    height: 463px;
    background-color: #063255;
    color: white;
}
.footertop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}
.input{
    width: 342px;
    height: 54px;
    background-color: white;
    color: #9C9C9C;
    border-radius: 31px;
    display: flex;
    align-items: center;
}
.butt{
    width: 156px;
    height: 54px;
    background-color: #F58A07;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fins, .connect, .company, .join{
    line-height: 50px;
}
.footerbottom{
    display: flex;
    justify-content: space-between;
}
.footerbottom div{
    display: flex;
    width: 298px;
    justify-content: space-between;
}


