
section:nth-child(2),
section:nth-child(4),
section:nth-child(9){
    background-color:#DCEAF5 ;
}
li{
    list-style: none; 
}
/*------------------------------- The style of section 1 start here-----------------------------------------------*/
.headerSection{
    height: 703px;
    display: flex;
}
.headerSection-left h2{
    font-size: 60px;
    color: #1D3444;
    width: 576px;
    height: 144px;
}
.headerSection p{
    font-size: 18px;
}
.headerSection-left-button{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin:30px 0 60px 0;
}
.headerSection-left-button .butt{
    background-color:#F58A07 ;
    border-radius: 27px;
    width: 199px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerSection a{
    color: white;
}
.noButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.noButton a{
    color: #1D3444;
}
.headerSection-text{
    color: #39414980;
    font-size: 18px;
}
.headerSection-logo{
    display: flex;
    justify-content: space-between;
}
.headerSection-right{
    display: flex;
    justify-content: end;
}
/* -----------------------------Section 2 start here  ---------------------------------------------------*/
.helpSection{
    height: 840px;
}
.helpSection-tittle{
    width: 735px;  
}
.helpSection-tittle h2{
    font-size: 48px;
}
.helpSection-tittle p{
    font-size: 18px;
}
.helpSection-post{
    display: flex;
    justify-content: space-between;
    margin-top:50px ;
}
.helpSection-post article{
    width: 400px;
    height: 447px;
}
.helpSection-post  h3{
    font-size: 24px;
}
.helpSection-post  img{
    border-radius: 20px;
    height: 242px;
}
.helpArrow{
    color: #F58A07;
}
.helpArrow::after{
    content: "\2192";
    font-size: x-large;
}
/* -----------------------The style of section 3 start here----------------------------------------*/
.featuresSection{
    height: 665px;
}
.featuresSection-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:300px;
}
.featuresSection-top h3{
    font-size: 36px;
    width: 625px;
    height: 132px;
}
.featuresSection-top p{
    font-size: 18px;
    width: 620px;
    height: 102px;
    color: #1D3444;
}
.featuresSection-bottom{
    display: flex;
    justify-content: space-between;
}
.features{
    width: 401px;
    height: 277px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}
.features h3{
    font-size: 24px;
}
/* --------------------Section 4 start here ------------------------- */
.aboutSection{
    height: 850px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aboutSection img{
    width: 637px;
    height: 667px;
    border-radius: 10px;
}
.aboutSection-left{
    width: 596px;
    height: 667px;
}
.aboutTittle{
    font-size: 48px;
}
.about-p{
    font-size: 18px;
}
.aboutFeature{
    display: flex;
    justify-content: space-between;
}
.aboutFeature p:first-child{
    font-size: 36px;
    color: #F58A07;
}
.aboutFeature h3{
    font-size: 24px;
}
.aboutFeature div{
    width: 264px;
    height: 192px;
}
.aboutSection-right{
    background: url(images/about-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 638px;
    height: 671px;
    border-radius: 20px;
}
.aboutSection-right div{
    width: 153px;
    height: 671px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}
/* --------------------The style of section 5 start here -------------------- */
.serviceSection {
    background-color: #DCEAF5;
    border-radius: 20px;
    height: 682px;
    padding: 50px;
}
.service {
    height: 800px;
    position: relative;
}
.service img{
    position: absolute;
    right: 310px;
}
.serviceTab{
    display: flex;
    width: 600px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.serviceTab div{
    border-radius: 31px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.serviceTab div:first-child{
    color: #F58A07;
    background-color: white;
    width: 194px;
}
.serviceTab div:nth-child(2){
   width: 155px;
   border: solid 1px #A8BCCC;
   color: #0632554D;
}
.serviceTab div:nth-child(3){
    width: 183px;
    border: solid 1px #A8BCCC ;
    color: #0632554D;
}
.serviceMain{
    display: flex;
    justify-content: space-between;
}

.serviceSection-left h3{
    font-size: 48px;
    margin: 0;
}
.serviceSection-left p{
    font-size: 18px;
}
.serviceSection-left a{
    color: #F58A07;
}
.serviceSection-left a::after{
    content: "\2192";
    font-size: x-large;
}
.serviceSection-left{
    width: 572px;
    height: 466px; 
}
.serviceSection-right{
    background-image: url(images/team.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 472px;
    height: 466px;
    display: flex;
    align-items: flex-end;
}
.serviceSection-right div{
    width: 120px;
    height: 466px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}
/* --------------------------The style of section 6 start here--------------------- */
.experSection{
    height:518px ;
    display: flex;
}
.experSection-left{
   background-image: url(images/experience-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 518px;
}
.experSection-right{
    height: 518px;
    width: 50%;
    background-color: #F58A07;
    padding: 50px 150px;
}
.experSection-right h3{
    font-size: 48px;
    color: white;
    width: 532px;
    height: 200px;
}
.experSection-right div{
    background-color: white;
    width: 216px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 31px;
}
.experSection-right a{
    color: #F58A07;
}
/* -----------------------------The style of section 7 start here------------ */

/* ----------------------------The style of section 8 start here  -------------------- */

/* -----------------------------The style of footer start here-------------------- */


