.videoSection {
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.videoSection-left{
    width: 570px;
}
.videoSection-left h3{
    font-size: 48px;
}
.videoSection-left p{
    font-size: 18px;
}
.videoPerson{
    display: flex;
    width: 249px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
.videoPerson h3{
    font-size:24px ;
    color: #063255;
    margin: 0;
}
.videoPerson p{
    font-size: 18px;
    color: #F58A07;
    margin: 0;
}
.videoSection-right{
    background-image: url(images/video-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 620px;
    height: 501px;
    display: flex;
    align-items: flex-end;
}
.videoCircle{
    display: flex;
    width: 200px;
    height: 80px;
    justify-content: space-around;
}
.circle{
    width: 51px;
    height: 51px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoCircle p{
    color: white;
}